@import "../../styles/utils";

.restaurant-card {
  width: var(--card-width);
  height: var(--restaurant-card-height);

  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s;

  &__img {
    width: 100%;
    height: calc(var(--restaurant-card-height) * 0.7);
  }

  &__title {
    font-weight: bold;

    margin: 12px 0 4px;
  }

  &__categories {
    font-size: $fz-sm;
    color: #757575;

    margin-bottom: 8px;
  }
}
