.extendable-input {
  display: flex;
  flex-flow: row nowrap;

  position: relative;
  padding: 12px 16px;

  outline: none;
  cursor: pointer;

  &--extended {
    background-color: #f6f6f6;
    cursor: initial;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 2px;
      background-color: #000;
    }
  }

  &__input {
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    width: 100%;

    background-color: transparent;
  }

  &__icon {
    margin-right: 18px;
  }

  &__close-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  &__btn {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
  }

  &__separator {
    display: inline-block;
    height: 24px;
    width: 1px;
    margin: 0 16px;

    background-color: #e2e2e2;
  }
}
