@import "../../styles/utils";

.menu-item-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;

  height: var(--menu-item-card-height);
  width: 100%;

  border: 1px solid #e0e0e0;

  &__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    max-width: calc(100% - var(--menu-item-card-height));
    height: 100%;
    padding: 16px;

    border-right: 1px solid #e0e0e0;
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }

  &__description {
    font-size: $fz-sm;
    color: #626262;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    margin-bottom: 10px;

    @include phone {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__img {
    display: block;
    height: auto;
    width: var(--menu-item-card-height);
    max-width: 45%;
    align-self: center;
  }
}
