@import "./reset";
@import "./grid";
@import "variables";

:root {
  --content-pad: #{$gap-md};
  --card-width: 340px;
  --restaurant-card-height: 367px;
  --menu-item-card-height: 158px;

  @media (max-width: $break-point-md) {
    --content-pad: #{$gap-sm};
    --card-width: 280px;
    --restaurant-card-height: 330px;
  }
}

html {
  scroll-behavior: smooth;
}

body,
button,
a,
input {
  font-family: Roboto, sans-serif;
  font-size: $fz-md;
  line-height: 1.5;
}

.content {
  max-width: 1452px;
  margin: 0 auto;
  padding: 0 var(--content-pad);
}
