.welcome {
  display: flex;
  align-items: center;
  height: 380px;
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    object-fit: cover;
  }
}

.general-info {
  padding: 24px 40px 24px 98px;
  background: #fff;

  &__title {
    font-size: 36px;
    line-height: 1.5;

    margin-bottom: 16px;
  }

  &__categories {
    font-size: 14px;
    line-height: 21px;
    color: #757575;

    margin-bottom: 16px;
  }

  &__details {
    font-size: 14px;
    line-height: 1.5;

    margin-top: 16px;
  }

  &__more {
    text-decoration: none;
    color: #247a00;

    &:hover {
      text-decoration: underline;
    }
  }
}
