@import "../../styles/utils";

.extendable-input {
  --icon-size: 16px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: relative;
  padding: 12px 16px;

  outline: none;
  cursor: pointer;

  @include phone {
    --icon-size: 12px;

    padding: 12px 8px;
  }

  &--extended {
    background-color: #f6f6f6;
    cursor: initial;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 2px;
      background-color: #000;
    }
  }

  &__input {
    width: 100%;
  }

  &__icon {
    margin-right: 18px;

    @include phone {
      margin-right: 12px;
    }
  }

  &__close-icon {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &__btn {
    white-space: nowrap;

    @include tablet {
      display: none;
    }
  }

  &__separator {
    align-self: stretch;
    display: inline-block;
    width: 1px;
    margin: 0 16px;

    @include phone {
      margin: 0 8px;
    }

    background-color: #e2e2e2;
  }
}
