@import "../../styles/utils";

.header {
  @extend %sticky;
  overflow: hidden;

  &__inner {
    width: 100%;
    display: flex;
    padding: 16px 0;
    align-items: center;

    @include phone {
      padding: 8px 0;
    }
  }

  &__logo {
    display: inline-block;
    height: 24px;
    width: auto;

    @include phone {
      height: 14px;
    }
  }

  &__btn {
    margin-left: $gap-sm;
    white-space: nowrap;
    padding: 12px 16px;

    display: flex;
    align-items: center;

    @include tablet {
      margin-left: 0;
      padding: 12px 8px;
    }

    &--toggle {
      display: none;

      @include tablet {
        display: flex;
      }
    }
  }

  &__delivery-info {
    display: flex;
    margin-left: 5vw;

    @include tablet {
      margin-left: 0;
    }

    &--search {
      margin-left: auto;
    }

    &--desktop {
      @include tablet {
        display: none;
      }
    }

    &--mobile {
      display: none;
      margin-left: 0;
      padding-bottom: $gap-sm;

      @include tablet {
        display: flex;
      }

      @include phone-s {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__mobile-control:not(:last-child) {
    margin-right: $gap-sm;

    @include phone-s {
      margin-right: 0;
      margin-bottom: $gap-xs;
    }
  }
}
