@import "../../styles/utils";

.footer {
  --column-width: 46vw;
  --base-gap: #{$gap-lg};

  position: relative;
  padding: 70px 0;

  color: #fff;
  background-color: #262626;

  @include tablet {
    --column-width: 36vw;
    --base-gap: #{$gap-sm};

    padding: $gap-md 0;
  }

  @include phone-s {
    padding: var(--base-gap) 0;
  }

  &__top {
    display: flex;
    padding-bottom: var(--base-gap);

    border-bottom: 1px solid #c4c4c4;

    @include phone-s {
      flex-direction: column;
    }
  }

  &__top-links {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    &:last-child {
      margin-left: 10vw;

      @include phone-s {
        margin-left: 0;
      }
    }
  }

  &__bottom-links {
    display: flex;
    justify-content: space-between;

    @include phone-s {
      flex-direction: column;
      margin: 0;
    }
  }

  &__mobile-apps {
    display: flex;

    @include tablet {
      flex-direction: column;
    }

    @include phone-s {
      flex-direction: row;
      margin-bottom: var(--base-gap);
      padding: var(--base-gap) 0;

      border-top: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
    }
  }

  &__mobile-app {
    line-height: 0;

    display: inline-block;
    width: 135px;
    margin-right: $gap-xs;

    @include phone-s {
      width: 120px;
    }

    &:first-child {
      @include tablet {
        margin-bottom: var(--base-gap);
      }

      @include phone-s {
        margin-bottom: 0;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__bottom {
    display: flex;

    @include phone-s {
      flex-direction: column;
    }
  }

  &__social-link:not(:last-child) {
    margin-right: $gap-sm;
  }

  &__link {
    color: #fff;
    margin-bottom: 16px;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }

    &--intended {
      font-weight: 500;
    }

    &--inline:not(:last-child) {
      margin-right: var(--base-gap);
    }
  }
}

.wide-column {
  flex-basis: var(--column-width);
  margin-right: var(--base-gap);

  @include phone-s {
    flex-basis: initial;
  }
}

.offset {
  margin-bottom: var(--base-gap);
}

.scroll-top {
  $bg-color: #59bd5a;

  position: absolute;
  right: $gap-sm;
  bottom: $gap-lg;
  width: 64px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background-color: $bg-color;
  border-radius: 2px;
  transition: background-color 300ms;

  &:hover {
    background-color: darken($bg-color, 10);
  }
}
